.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

*.hprof
*.iml
*.lnk
*.pyc
*.pyo
*.rbc
*.yarb
*~
.DS_Store
.classpath
.git
.hg
.idea
.project
.settings
.svn
CVS
RCS
SCCS
__pycache__
_svn
node_modules
rcs
target
vssver.scc
vssver2.scc
.claspath
.vscode
*.suo
*.sln
*.log
/src/main/resources/data